

/* body */
.fondo{background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../media/imagenes/fondo.jfif); }


/* header */
.arriba{background-color: rgba(1, 1, 172, 0.452);
width: auto;
height: 250px;
text-align: center;
border-radius: 30px;}
.UCMTITULO{  width: 800px;
height: 50px;
margin-left: 250px;
margin-top: 20px;
color: beige;}

/* caja contenedora de main y aside */
.box{
display: flex;}

 /* caja de main inicio */ 

.m1{ background-color: rgba(0, 0, 0, 0.702);
 margin-top: 50px;
margin-left: 120px;
width: 450px;
height: 600px;
text-align: left;
border: 10px; color: rgb(12, 26, 219);
border-radius: 10px;
box-shadow: 0px 0px 10px;
transition: all 0.4s;}

.pel1{box-shadow: 0px 0px 10px;
    transition: all 0.4s;
}
/* titulo de inicio */
.titulo{  margin-left: 150px;
font-family: fantasy;
color: rgb(218, 14, 14);}
/* parrafo de inicio */
.parrafo{ color: blanchedalmond;
width: 400px;
height: 400px;
margin-left: 30px;
}


/* caja aside de inicio */
.m2{   
    width: 500px;
    height: 500px;
margin-left: 100px;
margin-top: 100px;}
/* imagenes 1 y 2 */
.f1{ 
    margin-top: 10px;
    margin-left: 30px;
width: 300px;
height: 200px;}
.f2{ 
    margin-top: 10px;
    margin-left: 30px;}

/* formulario inicio */
.abajo{  background-color: rgb(235, 5, 5); 
width: 600px;
height: 80px;
padding: 20px;
padding-top: 10px;
text-align: center;
border: 10px;
border-radius: 30px;}
.t1{ font-family:fantasy;
color: azure;}
.t2{font-family: fantasy;
    color: rgb(241, 234, 234);}
    /* footer */
.footer1{color: rgb(210, 209, 204);
    background-color: rgba(235, 5, 5, 0.539);
    width: 600px;
height: 100px;
padding: 20px;
padding-top: 10px;
margin-top: 20px;
text-align: center;
border-radius: 10px;}

/* pagina personajes */
.cont{display: flex;}
.marvel1{margin-left: 300px;}
.marv2{background-color: rgb(177, 0, 0);
margin-left: 50px;
margin-top: 50px;
text-align: center;
padding-top: 10px;
font-size: 50px;
font-family: 'Times New Roman', Times, serif;
color: azure;
border-radius: 10px;}
.marv3{color: azure;}
.header{background-color: rgba(1, 1, 172, 0.452);
    width: auto;
    height: 250px;
    text-align: center;
    border-radius: 30px;}

    /* body pagina de  formulario */
#form11{background-color: rgb(44, 63, 237);}
    /*titulo de formulario*/
.tt1{
color: aliceblue;
width: 300px;
height: 50px;
padding: 10px;
text-align: center;
background-color: rgba(15, 45, 144, 0.822);
margin-left: 500px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border-radius: 10px;}
    
/*contenedor formulario */
.contenedorf{
width: 1200px;
height: 700px;
display: flex;}
/*formulario*/
.f3{
color: rgb(224, 229, 236);
    background-color: rgba(11, 23, 152, 0.734);
    width: 300px;
    height: 600px;
    text-align: center;
    border: 10px solid;
    border-color: white;
    border-radius: 10px;
    padding: 60px;
    margin-left: 500px;
    margin-top: 10px;}

    /*imagen avengers formulario*/
.av1{margin-top:10px ;
width: 300px;
height: 500px;
margin-left: 100px;}
    /*boton de volver a inicio*/
.ini1{width: 200px;
height: 200px;

border: 10px;
margin-left: 100px;}
/*titulos de personajes series y peliculas*/
.titulos{color: rgb(235, 173, 15);
margin-left: 500px;}
/*info de los personajes series y peliculas*/
.info{color: rgb(213, 211, 196);}

.pel1{width: 200px; height: 300px;}
.pel2{width: 300px; height: 300px;}

.contnav{position: sticky;
top: 0px;
z-index: 100;
}

/*logo navar*/
.mv{width: 4cm;}
.mv:hover{
box-shadow: 0px 0px 10px;
transition: all 0.4s;
}

.personajesconteiner{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;}
.personajesconteiner1 a:hover{ 
    margin: 10px;
    opacity: 1;
    box-shadow: 0px 0px 6px 3px;  
    transform: scale(1.1);
    transition: all0.4s;
    background-color: antiquewhite; 
    
    transition: all 0.4s; }
    
    

    .info{
        background-color: rgba(0, 0, 0, 0.637);
        padding: 1rem;
        margin: 1rem;
    }
    /*imagenes de*/
    .img-personajes{
        margin: 1.5rem;
        box-shadow: 0px 0px 6px 4px #000;
    }
    /*footer*/
   .fot{color: brown;}
/* bara de navegacion*/
   .navbar{ 
    padding: 1rem;
    margin: 1rem;
    opacity: 0.8;
    border-radius: 10px;
    }